@model EdPro.Models.LearningOutcome

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення</h1>

<h3>Ви впевнені, що хочете видалити навчальний результат?</h3>
<div>
    <h4>Цей результат зникне з усіх предметів</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearningOutcome1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearningOutcome1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speciality.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> 
        <a asp-action="Index"><button type="button" class="btn btn-secondary">Повернутися</button></a>
    </form>
</div>
