@model IEnumerable<EdPro.Models.Speciality>

@{
    ViewData["Title"] = "Index";
}

<h1>Спеціальності</h1>
@if (User.IsInRole("admin"))
{
<p>
    <a asp-action="Create"><button type="button" class="btn btn-secondary">Додати спеціальність</button></a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @if (User.IsInRole("admin"))
                    {
                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-info">Редагувати</button></a> 
                    }
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-info">Компетентності</button></a>
                    @if (User.IsInRole("admin"))
                    {
                <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-danger">Видалити</button></a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
