@model IEnumerable<EdPro.Models.EducationProgram>

@{
    ViewData["Title"] = "Index";
}

<h1>Навчальні програми</h1>

<p>
    <a asp-action="Create">Додати навчальну програму</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edbo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdPrType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edbo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImplementationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdPrType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Предмети</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
