@model IEnumerable<EdPro.Models.ControlType>

@{
    ViewData["Title"] = "Index";
}

<h1>Типи контролю</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Додати тип контролю</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ControlTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ControlTypeName)
            </td>
            <td>
                    @if (User.IsInRole("admin"))
                    {
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> 
                    }
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> 
                    @if (User.IsInRole("admin"))
                    {
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
