@model IEnumerable<EdPro.Models.EpSubjectLoutcome>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.LearningOutcomeLoname, необхідні предмети:</h1>

<p>
    @Html.ActionLink("Додати необхідний предмет", "Create", new {LearningOutcomeId = @ViewBag.LearningOutcomeId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LearningOutcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LearningOutcome.Loname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
