@model IEnumerable<EdPro.Models.SpecialityCompetence>

@{
    ViewData["Title"] = "Index";
}

<h1>Компетентності спеціальності @ViewBag.SpecialityName:</h1>

<p>
    @Html.ActionLink("Додати компетентність до спеціальності", "Create", new {SpecialityId = @ViewBag.SpecialityId}, new { @class = "btn btn-secondary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competence.Competence1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-info">Редагувати</button></a>
                <p></p>
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-info">Деталі</button></a>
                <p></p>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-danger">Видалити</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
