@model EdPro.Models.Subject

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення</h1>

<h3>Ви впевнені, що хочете видалити предмет @Model.Name?</h3>
<div>
    <h4>Зникнуть також всі компетентності та навчальні результати цього предмету</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Control)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Control.ControlTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eprogram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eprogram.Edbo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> 
        @Html.ActionLink("Повернутись","Index", new {id = ViewBag.EducationProgramId, name = ViewBag.EducationProgramName, specialityId = ViewBag.EducationProgramSpecialityId, edbo = ViewBag.EducationProgramEdbo, edPrTypeId = ViewBag.EducationProgramEdPrTypeId, facultyId = ViewBag.EducationProgramFacultyId, implementationDate = ViewBag.EducationProgramImplementationDate}, new { @class = "btn btn-secondary" })
    </form>
</div>
