@model IEnumerable<EdPro.Models.University>

@{
    ViewData["Title"] = "Університети";
}

<h1>Університети</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Додати університет</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edbo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edbo)
            </td>
            <td>
                    @if (User.IsInRole("admin"))
                    {
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> 
                    }
                <a asp-action="Details" asp-route-id="@item.Id">Факультети</a> 
                    @if (User.IsInRole("admin"))
                    {
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                $.get('/api/Chart/JsonData', function(JsonData) {
                    data = google.visualization.arrayToDataTable(JsonData, false);
                    var option = {
                    title: "Співвідношення кількості факультетів в університетах",
                        width: 500,
                        height: 400
                    };
                    chart = new google.visualization.PieChart(document.getElementById('chart1'));
                    chart.draw(data, option);
                })
            }
    </script>
}
