@model IEnumerable<EdPro.Models.Competence>

@{
    ViewData["Title"] = "Index";
}

<h1>Компетентності</h1>

<p>
    <a asp-action="Create">Додати компетентність</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competence1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetenceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competence1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetenceType.CompType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> 
                <p></p>
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                <p></p>
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
